.pros{
    margin-top: 120px;
    font-family: 'Roboto';
}

.pros__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pros__name{
    font-weight: 300;
font-size: 20px;
line-height: 27px;
margin-top: 53px;
}

.pros__item{
    width: 193px;
    text-align: center;
    margin: 0  35px;
}